@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    color:white;
}
h4{
    padding:1rem;
    float:right;
}
h2{
    color:#37FDFC;
    text-align:center;
    padding:1rem;
}
p{
    padding:0.7rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#37FDFC;
}
span{
    background-color: #37FDFC;
    color:black;
    padding:0.3rem;
    border-radius: 0.5rem;
}

img{
    display: block;
    border-radius:0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding:1rem;
    
}

.container{
    max-width:700px;
    margin:3rem auto;
    padding:2rem;
    text-align: justify;
    letter-spacing: 0.7px;
    word-spacing:-2px;
    background-color: #181818;
    border-radius:0.5rem;
}

.new-para{
    margin-top:1.3rem;
}

@media(max-width:940px){

    body{
        font-size: small;
    }
}