<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>componentlibrary</title>
</head>
<body>
    <header>
        <img src="/demo.svg"/>
        <h1>i am sam</h1>
    </header>

    <hr>

    <h1>this is a h1 heading</h1>
    <p>this is a paragraph</p>
    <small>this is a small text</small>

    <hr>

    <div class="fluid-container">
        <p>this is a sample fluid container.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <hr>

    <section class="diff-color">
        <div class="center-container">
            <p>this is a sample centered container.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </section>
    <hr>

    <a href="/">Primary Link</a>
    <a href="/">Secondary Link</a>

    <hr>

    <ul>
        <li>item one</li>
        <li>item two</li>
        <li>item three</li>
    </ul>

    <hr>

    <ul>
        <li>item one</li>
        <li>item two</li>
        <li>item three</li>
    </ul>

    <hr>

    <ol>
        <li>item one</li>
        <li>item two</li>
        <li>item three</li>
    </ol>
    <hr>

    <nav>
        <div>
            <ul clas="list-non-bullet">
                <li class="list-inline-item">Software Developer</li>
                <li class="list-inline-item link"><a href="/">home</a></li>
                <li class="list-inline-item link"><a href="/">project</a></li>
                <li class="list-inline-item link"><a href="/">about</a></li>
            </ul>
        </div>
    </nav>
    <hr>

    <section>
        <p>this is a normal section</p>
    </section>
    <hr>
    <section>
        <p>this is a off white section</p>
    </section>
    <hr>

    <footer>
        <ul>
            <li><a href="/">linkedin</a></li>
            <li><a href="/">twitter</a></li>
            <li><a href="/">github</a></li>
            <p>made with ❤️</p>
        </ul>
    </footer>
</body>
</html>