:root{
    --primary-color:#000000;
    --full-white:#ffffff;
    --blue-color:#37FDFC;
    --grey-color:#181818;
    --dull-blue:#2ab8b8;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--full-white);
    margin:0px;
    text-align: center;
}


.float-img{
    display:block;
    max-width: 30%;
    margin:auto;
}

.left-div{
    width: 50%;
    float: left; 
}

.right-div{
    width:50%;
    margin-left: 50%; 
    padding-bottom: 21rem;
}

header{
    padding-top:2rem;
    padding-bottom : 4rem;
}
nav{
    margin:0px;
    padding-top:1rem;
}

div{
    padding-bottom:3px;
}
nav p{
    font-weight: bold;
    color:var(--primary-color);
}

footer{
    display:block;
    padding-top: 1rem;
    text-align:center;
    margin:0;
}

.link{
    color:var(--blue-color);
    padding: 2rem;
    text-decoration: none;
}

.list-non-bullet{
    list-style:none;
}

.navpills{
    text-align:right;
}

.active-link{
    font-weight: bolder;
}
.list-inline-item{
    color:var(--blue-color);
    display:inline;
    text-align:right;
}

.index{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diff-color{
    background-color:var(--blue-color);
}

.center-container{
    padding:1rem 0 3rem 0;
    max-width:600px;
    margin:auto;
    text-align:center;
}

.color-container{
    background-color:var(--grey-color);
    padding:1rem 0rem 3rem 0rem;
    text-align:center;
    width:100%;
}

.container-center{
    padding-bottom: 2rem;
    max-width: 600px;
    margin:auto;
}
.text-center{
    text-align:center;
}

.tech-styling{
    padding:0.5rem 1rem;
    box-sizing: border-box;
    background-color: var(--blue-color);
    font-weight: bold;
    border-radius: 0.5rem;
    display: inline;
    margin:0rem 1rem;
    color:var(--primary-color);
}

.link-styling{
    margin:10rem;
    text-decoration :none;
    color:var(--primary-color);
}

/**projects file styling**/

.project-cards{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border : solid 2px black;
    color:white;
    background-color: var(--grey-color);
    border-radius: 1rem;
    width:300px;
    height:400px;
    margin:0 1rem 2rem 0;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-image{
    width:230px;
    height:150px;
    border-radius: 1rem;
    margin:auto;
}

.card-heading{
    margin:0;
    font-weight: bold;
    color:var(--blue-color);
}
.card-heading p{
    margin:0;
}
.card-content{
    margin-bottom: 1rem;
    padding:0 1rem;
    font-size: smaller;
}

.card-link{
    text-decoration: none;
    color:white;
    font-size: small;
    border:solid 1px black;
    margin:1rem;
    padding:0.5rem;
    border-radius: 0.7rem;
    background-color: grey;
}

/*blog.html styling*/

.blog-cards{
    display:block;
    list-style: none;
    align-items: center;
    
}

.blog-card{
    display:inline-block;
    border: 2px solid black;
    border-radius:1rem;
    max-width: 800px;
    background-color: var(--grey-color);
    color:black;
    margin:1rem 0rem;
    text-align: start;
    padding:0rem 1rem 1rem 1rem;
    
}

.blog-heading{
    color:var(--blue-color);
}

.blog-date{
    color:var(--full-white);
    font-weight:bold;
}

.blog-content{
    display: block;
    color:var(--full-white);
}

.blog-link{
    text-decoration: none;
    color: black;
    background-color: var(--dull-blue);
    border : solid 1px;
    border-radius:0.5rem;
    padding:0.3rem;
    font-weight:bold;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__window {
    position: relative;
    background-color:var(--grey-color);  
    padding: 1rem 1rem;
    color:var(--blue-color);
    max-width: 40%;
    border-radius: 1rem;
}
  
.modal__close {
    /* position: absolute;
    top: -30px; */
    float:right;
    right: 0;
    color:white;
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
}

.modal__image{
    border-radius: 50%;
    max-width: 30%;
}
#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}